/* Coolors Exported Palette - coolors.co/1a535c-4ecdc4-f7fff7-ff6b6b-ffe66d */

/* HSL */
$english-green: hsla(188%, 56%, 23%, 1);
$medium-turquoise: hsla(176%, 56%, 55%, 1);
$mint-cream: hsla(120%, 100%, 98%, 1);
$pastel-red: hsla(0%, 100%, 71%, 1);
$maize: hsla(50%, 100%, 71%, 1);

/* RGB */
$english-green: rgba(26, 83, 92, 1);
$medium-turquoise: rgba(78, 205, 196, 1);
$mint-cream: rgba(247, 255, 247, 1);
$pastel-red: rgba(255, 107, 107, 1);
$maize: rgba(255, 230, 109, 1);
