html
    head
        title Calculator Project
        link(type="text/css" rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
        link(type="text/css" rel="stylesheet" href="css/style.css")
    body
        h1 The Calculator Projectx
        div.calculator
            input(type="text")#display
            div.numpad
                button.btn(data-value="1" onclick="whichButton(event)") 1
                button.btn(data-value="2" onclick="whichButton(event)") 2
                button.btn(data-value="3" onclick="whichButton(event)") 3
                button.btn(data-value="4" onclick="whichButton(event)") 4
                button.btn(data-value="5" onclick="whichButton(event)") 5
                button.btn(data-value="6" onclick="whichButton(event)") 6
                button.btn(data-value="7" onclick="whichButton(event)") 7
                button.btn(data-value="8" onclick="whichButton(event)") 8
                button.btn(data-value="9" onclick="whichButton(event)") 9
                button.btn(data-value="clear" onclick="whichButton(event)") CE
                button.btn(data-value="0" onclick="whichButton(event)") 0
                button.btn(data-value="solve" onclick="whichButton(event)") =
            div.func
                button.btn(data-value="+" onclick="whichButton(event)") +
                button.btn(data-value="-" onclick="whichButton(event)") -
                button.btn(data-value="*" onclick="whichButton(event)") *
                button.btn(data-value="/" onclick="whichButton(event)") /

        script(src="js/script.js")
